// common styles
.header-container {
  font-weight: bold;
  > div {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px 10px !important;
  }
  .header {
    &__title {
      display: inline-flex;
      > h1 {
        font-weight: bold;
        margin: 0;
      }
      > .inputToggleButton {
        color: white;
        cursor: pointer;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
    &__searchBox {
      color: white;
      div.md-form {
        display: inline-block;
        margin: 0;
      }
      input {
        margin: 0;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

// mobile styles
@media screen and (max-width: 767px) {
  .header-container {
    margin: 10px;
    .header {
      &__title {
        > h1 {
          font-size: 20px;
        }
        > .inputToggleButton {
          margin-left: 15px;
          font-size: 23px !important;
        }
      }
      &__userInfo {
        font-size: 15px;
        text-align: left;
      }
      &__hamburgerMenu {
        text-align: right;
        .hamburgerMenu-icon {
          > div {
            z-index: 100;
            float: right;
          }
        }
        .drawer {
          color: white;
          position: fixed;
          background-color: #000000c2;
          top: -300px;
          left: 0;
          height: 120px;
          width: 100%;
          > div {
            margin: 50px 0px;
            text-align: center;
          }
        }
      }
      &__searchBox {
        .search-icon {
          font-size: 22px;
        }
        .searchInput-container {
          width: 160px;
          top: 30px;
          left: -15px;
          display: block;
          z-index: 100;
          position: absolute;
          input {
            width: 85%;
          }

          .search-arrow {
            left: 28px;
            position: absolute;
            border: 7px solid;
            transform: rotate(45deg);
            top: -5px;
            color: white;
          }
        }
      }
    }
  }
}

// desktop styles
@media screen and (min-width: 768px) {
  .header-container {
    margin: auto 15px;
    height: 50px;
    .header {
      &__title {
        > h1 {
          font-size: 20px;
        }
        > .inputToggleButton {
          margin-left: 15px;
          font-size: 22px !important;
        }
      }
      &__userInfo {
        text-align: right;
        > ul > li {
          margin: auto 10px;
          display: inline;
        }
      }

      &__searchBox {
        text-align: left;
        .search-icon {
          margin-right: 5px;
          font-size: 20px;
        }
        input {
          color: white;
        }
        label {
          color: white;
        }
      }
    }
  }
}
