// common styles
.clipboard {
  &__list::-webkit-scrollbar {
    width: 0px !important;
  }

  &__list {
    .no-search-results {
      color: bisque;
    }

    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;

      li {
        text-align: left;
        font-family: sans-serif;

        .text-index {
          font-weight: bold;
        }

        .contentEditable-wrapper {
          background-color: #0000000a;
          border-radius: 12px;
          .text-value {
            white-space: pre-wrap !important;
            max-height: 300px;
            margin: 0px;
            width: 100%; // needed to make full row clickable for text edit, especially if empty string is present in that row.
            text-align: initial;
            display: block;
            text-align: initial;
            > div {
              // padding: 10px !important;
            }
          }
          .text-value:focus {
            background-color: white !important;
          }
        }

        .text-index,
        .icons-container,
        .delete-icon {
          position: absolute;
        }
        .delete-icon,
        .edit-icon,
        .clipboard-icon {
          transition: 0.5s all !important;
        }

        .dateStamp {
          float: right;
          color: #00000069;
          font-size: 12px;
          margin-top: -2px;
        }
      }

      li:nth-child(even) {
        background-color: #e8f4ff;
      }

      li:nth-child(odd) {
        background-color: #ffffff;
      }
    }
  }
}

// mobile styles
@media screen and (max-width: 767px) {
  .clipboard {
    &__list {
      ul {
        li {
          transition: all 0.3s;
          padding: 15px 35px 15px 35px;

          .text-index {
            left: 10px;
            margin-top: 10px;
          }

          .text-value {
            padding: 15px;
          }

          .edit-icon,
          .clipboard-icon,
          .delete-icon {
            font-size: 27px !important;
            pointer-events: none !important;
            opacity: 0;
          }
          .delete-icon {
            right: 12px;
            font-size: 22px;
          }
          .edit-icon,
          .clipboard-icon {
            margin-right: 15px;
          }

          .icons-container {
            padding-top: 9px;
          }
        }
      }

      li:hover,
      li:focus {
        padding: 15px 35px 40px 35px !important;

        .edit-icon,
        .clipboard-icon,
        .delete-icon {
          opacity: 1;
          pointer-events: initial !important;
        }
      }
    }
  }
}

// desktop styles
@media screen and (min-width: 768px) {
  .clipboard {
    &__list {
      ul {
        li {
          padding: 15px 120px 15px 80px;
          border-radius: 30px;
          margin: 10px 0px;

          .text-index {
            left: 50px;
          }
          .icons-container {
            margin: auto;
            margin-right: 25px;
            right: 0px;
            * {
              margin: 0px 5px;
            }
          }
          .text-value {
            padding: 15px 25px;
          }

          .clipboard-icon,
          .edit-icon {
            font-size: 28px;
          }

          .delete-icon {
            right: 125px;
          }

          .delete-icon,
          .edit-icon,
          .clipboard-icon {
            opacity: 0;
          }
        }

        li:hover {
          .delete-icon,
          .edit-icon,
          .clipboard-icon {
            opacity: 1;
          }
        }
      }
    }
  }
}
