// common styles
.dashboard-container {
  margin-top: 50px;
  .devloped-by {
    margin-top: 20px;
    font-weight: bold;
    color: #ff5722;
  }
  .dashboard {
    &__heading {
      font-weight: bold;
      color: lightgoldenrodyellow;
      margin-bottom: 40px;
    }
    &__viewDemo-btn {
      button {
        font-weight: bold;
      }
    }
  }
  .firebaseui-provider-sign-in-footer {
    display: none;
  }
}
