// common styles
.dashboard-container {
  margin-top: 50px;
  .dashboard {
    &__heading {
      font-weight: bold;
      color: lightgoldenrodyellow;
      margin-bottom: 40px;
    }
    &__viewDemo-btn {
      button {
        font-weight: bold;
      }
    }
  }
  .firebaseui-provider-sign-in-footer {
    display: none;
    // color: lightgoldenrodyellow;
    // a {
    // color: #4facff;
    // }
  }
}
