
  /* Scrollbar styles */
  ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  }
  
  ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey;
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #3b9cff6b; 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 6px rgb(0, 0, 0);
}