// Toaster notification popup styles
@keyframes sucessAnimation {
  from {
    background-color: #90ee90cc;
  }
  to {
    background-color: #0000000a;
  }
}
@keyframes deleteAnimation {
  from {
    background-color: #ff7155ed;
    transform: scale(1);
  }
  to {
    background-color: #0000000a;
    transform: scale(0.2);
  }
}
.notification-popup {
  font-weight: 1000;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  color: black;
  padding: 20px;
}
.Toaster__alert_close {
  display: none;
}
.notify-create {
  background-color: #90ee90cc;
}
.notify-read {
  background-color: #90ee90cc;
}
.notify-update {
  background-color: #90ee90cc;
}
.notify-delete {
  background-color: #ff7155ed;
}
